.black {
  color: #272c34;
}

.white {
  color: #fff;
}

.grey10 {
  color: #f7f9fd;
}

.grey20 {
  color: #dae3f3;
}

.grey30 {
  color: #c5d2e7;
}

.grey40 {
  color: #67768d;
}

.grey50 {
  color: #4b5564;
}

.grey60 {
  color: #39414d;
}

.red10 {
  color: #fff5f5;
}

.red20 {
  color: #fda6a6;
}

.red30 {
  color: #fa5959;
}

.red40 {
  color: #d92736;
}

.red50 {
  color: #ba0202;
}

.red60 {
  color: maroon;
}

.orange10 {
  color: #fff7f0;
}

.orange20 {
  color: #fac69d;
}

.orange30 {
  color: #f5954d;
}

.orange40 {
  color: #da5a00;
}

.orange50 {
  color: #a64300;
}

.orange60 {
  color: #5c2500;
}

.blue10 {
  color: #f5fcff;
}

.blue20 {
  color: #c2e0ef;
}

.blue30 {
  color: #94c1df;
}

.blue40 {
  color: #6294be;
}

.blue50 {
  color: #326089;
}

.blue60 {
  color: #0f2943;
}

.green10 {
  color: #f5fffc;
}

.green20 {
  color: #baf8ea;
}

.green30 {
  color: #82f2da;
}

.green40 {
  color: #45dabe;
}

.green50 {
  color: #11b08f;
}

.green60 {
  color: #008062;
}

.purple10 {
  color: #f9f5ff;
}

.purple20 {
  color: #cea1fa;
}

.purple30 {
  color: #af50f5;
}

.purple40 {
  color: #9200da;
}

.purple50 {
  color: #7700a6;
}

.purple60 {
  color: #43005c;
}

.indigo10 {
  color: #f5f6ff;
}

.indigo20 {
  color: #a2acf2;
}

.indigo30 {
  color: #566ae5;
}

.indigo40 {
  color: #0723d8;
}

.indigo50 {
  color: #031aba;
}

.indigo60 {
  color: #00108c;
}

.bg-black {
  background-color: #272c34;
}

.bg-white {
  background-color: #fff;
}

.bg-grey10 {
  background-color: #f7f9fd;
}

.bg-grey20 {
  background-color: #dae3f3;
}

.bg-grey30 {
  background-color: #c5d2e7;
}

.bg-grey40 {
  background-color: #67768d;
}

.bg-grey50 {
  background-color: #4b5564;
}

.bg-grey60 {
  background-color: #39414d;
}

.bg-red10 {
  background-color: #fff5f5;
}

.bg-red20 {
  background-color: #fda6a6;
}

.bg-red30 {
  background-color: #fa5959;
}

.bg-red40 {
  background-color: #d92736;
}

.bg-red50 {
  background-color: #ba0202;
}

.bg-red60 {
  background-color: maroon;
}

.bg-orange10 {
  background-color: #fff7f0;
}

.bg-orange20 {
  background-color: #fac69d;
}

.bg-orange30 {
  background-color: #f5954d;
}

.bg-orange40 {
  background-color: #da5a00;
}

.bg-orange50 {
  background-color: #a64300;
}

.bg-orange60 {
  background-color: #5c2500;
}

.bg-blue10 {
  background-color: #f5fcff;
}

.bg-blue20 {
  background-color: #c2e0ef;
}

.bg-blue30 {
  background-color: #94c1df;
}

.bg-blue40 {
  background-color: #6294be;
}

.bg-blue50 {
  background-color: #326089;
}

.bg-blue60 {
  background-color: #0f2943;
}

.bg-green10 {
  background-color: #f5fffc;
}

.bg-green20 {
  background-color: #baf8ea;
}

.bg-green30 {
  background-color: #82f2da;
}

.bg-green40 {
  background-color: #45dabe;
}

.bg-green50 {
  background-color: #11b08f;
}

.bg-green60 {
  background-color: #008062;
}

.bg-purple10 {
  background-color: #f9f5ff;
}

.bg-purple20 {
  background-color: #cea1fa;
}

.bg-purple30 {
  background-color: #af50f5;
}

.bg-purple40 {
  background-color: #9200da;
}

.bg-purple50 {
  background-color: #7700a6;
}

.bg-purple60 {
  background-color: #43005c;
}

.bg-indigo10 {
  background-color: #f5f6ff;
}

.bg-indigo20 {
  background-color: #a2acf2;
}

.bg-indigo30 {
  background-color: #566ae5;
}

.bg-indigo40 {
  background-color: #0723d8;
}

.bg-indigo50 {
  background-color: #031aba;
}

.bg-indigo60 {
  background-color: #00108c;
}

.logo-container {
  align-items: center;
  display: flex;
}

.logo-icon {
  width: 45px;
  height: 45px;
  display: block;
  position: relative;
}

.logo-text {
  padding: 0 12px;
  font-size: 18px;
}

.logo-card {
  border-radius: 4px;
  animation: fadeout 6s ease-in-out infinite;
  display: block;
  position: absolute;
}

.logo-card.is-red {
  width: 30.15px;
  height: 18.09px;
  background-color: #fa5959;
  animation-delay: 0s;
  top: 4.5px;
  left: 7.425px;
}

.logo-card.is-blue {
  width: 38.25px;
  height: 22.95px;
  background-color: #326089;
  animation-delay: .333s;
  top: 10.35px;
  left: 3.375px;
}

.logo-card.is-green {
  width: 45px;
  height: 27px;
  background-color: #45dabe;
  animation-delay: .667s;
  bottom: 0;
  left: 0;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  18% {
    opacity: .4;
  }

  25% {
    opacity: 0;
  }

  32% {
    opacity: .4;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.is-flex {
  display: flex;
}

.is-vertical-center {
  align-items: center;
  display: flex;
}

.is-horizontal-center {
  justify-content: center;
  display: flex;
}

.is-all-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.is-full-screen {
  width: 100vw;
  height: 100vh;
}

.is-text-xs {
  font-size: 10px;
}

.is-text-s {
  font-size: 12px;
}

.is-text-m {
  font-size: 16px;
}

.is-text-l {
  font-size: 20px;
}

.is-text-xl {
  font-size: 28px;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
