.black {
  color: #272c34;
}

.white {
  color: #fff;
}

.grey10 {
  color: #f7f9fd;
}

.grey20 {
  color: #dae3f3;
}

.grey30 {
  color: #c5d2e7;
}

.grey40 {
  color: #67768d;
}

.grey50 {
  color: #4b5564;
}

.grey60 {
  color: #39414d;
}

.red10 {
  color: #fff5f5;
}

.red20 {
  color: #fda6a6;
}

.red30 {
  color: #fa5959;
}

.red40 {
  color: #d92736;
}

.red50 {
  color: #ba0202;
}

.red60 {
  color: maroon;
}

.orange10 {
  color: #fff7f0;
}

.orange20 {
  color: #fac69d;
}

.orange30 {
  color: #f5954d;
}

.orange40 {
  color: #da5a00;
}

.orange50 {
  color: #a64300;
}

.orange60 {
  color: #5c2500;
}

.blue10 {
  color: #f5fcff;
}

.blue20 {
  color: #c2e0ef;
}

.blue30 {
  color: #94c1df;
}

.blue40 {
  color: #6294be;
}

.blue50 {
  color: #326089;
}

.blue60 {
  color: #0f2943;
}

.green10 {
  color: #f5fffc;
}

.green20 {
  color: #baf8ea;
}

.green30 {
  color: #82f2da;
}

.green40 {
  color: #45dabe;
}

.green50 {
  color: #11b08f;
}

.green60 {
  color: #008062;
}

.purple10 {
  color: #f9f5ff;
}

.purple20 {
  color: #cea1fa;
}

.purple30 {
  color: #af50f5;
}

.purple40 {
  color: #9200da;
}

.purple50 {
  color: #7700a6;
}

.purple60 {
  color: #43005c;
}

.indigo10 {
  color: #f5f6ff;
}

.indigo20 {
  color: #a2acf2;
}

.indigo30 {
  color: #566ae5;
}

.indigo40 {
  color: #0723d8;
}

.indigo50 {
  color: #031aba;
}

.indigo60 {
  color: #00108c;
}

.bg-black {
  background-color: #272c34;
}

.bg-white {
  background-color: #fff;
}

.bg-grey10 {
  background-color: #f7f9fd;
}

.bg-grey20 {
  background-color: #dae3f3;
}

.bg-grey30 {
  background-color: #c5d2e7;
}

.bg-grey40 {
  background-color: #67768d;
}

.bg-grey50 {
  background-color: #4b5564;
}

.bg-grey60 {
  background-color: #39414d;
}

.bg-red10 {
  background-color: #fff5f5;
}

.bg-red20 {
  background-color: #fda6a6;
}

.bg-red30 {
  background-color: #fa5959;
}

.bg-red40 {
  background-color: #d92736;
}

.bg-red50 {
  background-color: #ba0202;
}

.bg-red60 {
  background-color: maroon;
}

.bg-orange10 {
  background-color: #fff7f0;
}

.bg-orange20 {
  background-color: #fac69d;
}

.bg-orange30 {
  background-color: #f5954d;
}

.bg-orange40 {
  background-color: #da5a00;
}

.bg-orange50 {
  background-color: #a64300;
}

.bg-orange60 {
  background-color: #5c2500;
}

.bg-blue10 {
  background-color: #f5fcff;
}

.bg-blue20 {
  background-color: #c2e0ef;
}

.bg-blue30 {
  background-color: #94c1df;
}

.bg-blue40 {
  background-color: #6294be;
}

.bg-blue50 {
  background-color: #326089;
}

.bg-blue60 {
  background-color: #0f2943;
}

.bg-green10 {
  background-color: #f5fffc;
}

.bg-green20 {
  background-color: #baf8ea;
}

.bg-green30 {
  background-color: #82f2da;
}

.bg-green40 {
  background-color: #45dabe;
}

.bg-green50 {
  background-color: #11b08f;
}

.bg-green60 {
  background-color: #008062;
}

.bg-purple10 {
  background-color: #f9f5ff;
}

.bg-purple20 {
  background-color: #cea1fa;
}

.bg-purple30 {
  background-color: #af50f5;
}

.bg-purple40 {
  background-color: #9200da;
}

.bg-purple50 {
  background-color: #7700a6;
}

.bg-purple60 {
  background-color: #43005c;
}

.bg-indigo10 {
  background-color: #f5f6ff;
}

.bg-indigo20 {
  background-color: #a2acf2;
}

.bg-indigo30 {
  background-color: #566ae5;
}

.bg-indigo40 {
  background-color: #0723d8;
}

.bg-indigo50 {
  background-color: #031aba;
}

.bg-indigo60 {
  background-color: #00108c;
}

.loader {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.logo-container {
  align-items: center;
  display: flex;
}

.logo-container.is-fading {
  animation: fade .5s ease-in-out;
}

.logo-icon {
  width: 45px;
  height: 45px;
  display: block;
  position: relative;
}

.logo-text {
  padding: 0 12px;
  font-size: 18px;
  font-weight: 800;
}

.logo-card {
  border-radius: 4px;
  animation: fadeout 2.5s ease-in-out infinite;
  display: block;
  position: absolute;
}

.logo-card.is-red {
  width: 30.15px;
  height: 18.09px;
  background-color: #fa5959;
  animation-delay: 0s;
  top: 4.5px;
  left: 7.425px;
}

.logo-card.is-white {
  width: 38.25px;
  height: 22.95px;
  background-color: #fff;
  animation-delay: .333s;
  top: 10.35px;
  left: 3.375px;
}

.logo-card.is-blue {
  width: 38.25px;
  height: 22.95px;
  background-color: #326089;
  animation-delay: .333s;
  top: 10.35px;
  left: 3.375px;
}

.logo-card.is-green {
  width: 45px;
  height: 27px;
  background-color: #45dabe;
  animation-delay: .667s;
  bottom: 0;
  left: 0;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  18% {
    opacity: .4;
  }

  25% {
    opacity: 0;
  }

  32% {
    opacity: .4;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.tabs {
  width: calc(100% - 36px);
  max-width: 500px;
  box-sizing: border-box;
  z-index: 99;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #ffffffb3;
  border-radius: 8px;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 18px;
  padding: 10px 18px;
  display: flex;
  position: fixed;
  bottom: 24px;
  box-shadow: 0 0 12px #0000004d;
}

.tabs .tab {
  color: #0f2943;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  display: block;
}

.tabs .tab.is-active {
  color: #fff;
  background-image: linear-gradient(0deg, #6294be, #326089);
}

.is-flex {
  display: flex;
}

.is-vertical-center {
  align-items: center;
  display: flex;
}

.is-horizontal-center {
  justify-content: center;
  display: flex;
}

.is-all-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.is-full-screen {
  width: 100vw;
  height: 100vh;
}

.is-level {
  align-items: center;
  display: flex;
}

.is-level-left {
  justify-self: flex-start;
  margin-right: auto;
}

.is-level-right {
  justify-self: flex-end;
  margin-left: auto;
}

.is-svg {
  max-height: 20px;
}

.is-text-xs {
  font-size: 10px;
}

.is-text-s {
  font-size: 12px;
}

.is-text-m {
  font-size: 16px;
}

.is-text-l {
  font-size: 20px;
}

.is-text-xl {
  font-size: 28px;
}

.is-text-xxl {
  font-size: 38px;
}

.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-text-center {
  text-align: center;
}

.is-text-bold {
  font-weight: 600;
}

.is-text-bolder {
  font-weight: 700;
}

.has-padding-1 {
  padding: 4px;
}

.has-padding-left-1 {
  padding-left: 4px;
}

.has-padding-right-1 {
  padding-right: 4px;
}

.has-padding-top-1 {
  padding-top: 4px;
}

.has-padding-bottom-1 {
  padding-bottom: 4px;
}

.has-padding-vertical-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.has-padding-horizontal-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.has-margin-1 {
  margin: 4px;
}

.has-margin-left-1 {
  margin-left: 4px;
}

.has-margin-right-1 {
  margin-right: 4px;
}

.has-margin-top-1 {
  margin-top: 4px;
}

.has-margin-bottom-1 {
  margin-bottom: 4px;
}

.has-margin-vertical-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.has-margin-horizontal-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.has-padding-2 {
  padding: 8px;
}

.has-padding-left-2 {
  padding-left: 8px;
}

.has-padding-right-2 {
  padding-right: 8px;
}

.has-padding-top-2 {
  padding-top: 8px;
}

.has-padding-bottom-2 {
  padding-bottom: 8px;
}

.has-padding-vertical-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.has-padding-horizontal-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.has-margin-2 {
  margin: 8px;
}

.has-margin-left-2 {
  margin-left: 8px;
}

.has-margin-right-2 {
  margin-right: 8px;
}

.has-margin-top-2 {
  margin-top: 8px;
}

.has-margin-bottom-2 {
  margin-bottom: 8px;
}

.has-margin-vertical-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.has-margin-horizontal-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.has-padding-3 {
  padding: 12px;
}

.has-padding-left-3 {
  padding-left: 12px;
}

.has-padding-right-3 {
  padding-right: 12px;
}

.has-padding-top-3 {
  padding-top: 12px;
}

.has-padding-bottom-3 {
  padding-bottom: 12px;
}

.has-padding-vertical-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.has-padding-horizontal-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.has-margin-3 {
  margin: 12px;
}

.has-margin-left-3 {
  margin-left: 12px;
}

.has-margin-right-3 {
  margin-right: 12px;
}

.has-margin-top-3 {
  margin-top: 12px;
}

.has-margin-bottom-3 {
  margin-bottom: 12px;
}

.has-margin-vertical-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.has-margin-horizontal-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.has-padding-4 {
  padding: 16px;
}

.has-padding-left-4 {
  padding-left: 16px;
}

.has-padding-right-4 {
  padding-right: 16px;
}

.has-padding-top-4 {
  padding-top: 16px;
}

.has-padding-bottom-4 {
  padding-bottom: 16px;
}

.has-padding-vertical-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.has-padding-horizontal-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.has-margin-4 {
  margin: 16px;
}

.has-margin-left-4 {
  margin-left: 16px;
}

.has-margin-right-4 {
  margin-right: 16px;
}

.has-margin-top-4 {
  margin-top: 16px;
}

.has-margin-bottom-4 {
  margin-bottom: 16px;
}

.has-margin-vertical-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.has-margin-horizontal-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.has-padding-5 {
  padding: 20px;
}

.has-padding-left-5 {
  padding-left: 20px;
}

.has-padding-right-5 {
  padding-right: 20px;
}

.has-padding-top-5 {
  padding-top: 20px;
}

.has-padding-bottom-5 {
  padding-bottom: 20px;
}

.has-padding-vertical-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.has-padding-horizontal-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.has-margin-5 {
  margin: 20px;
}

.has-margin-left-5 {
  margin-left: 20px;
}

.has-margin-right-5 {
  margin-right: 20px;
}

.has-margin-top-5 {
  margin-top: 20px;
}

.has-margin-bottom-5 {
  margin-bottom: 20px;
}

.has-margin-vertical-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.has-margin-horizontal-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.has-padding-6 {
  padding: 24px;
}

.has-padding-left-6 {
  padding-left: 24px;
}

.has-padding-right-6 {
  padding-right: 24px;
}

.has-padding-top-6 {
  padding-top: 24px;
}

.has-padding-bottom-6 {
  padding-bottom: 24px;
}

.has-padding-vertical-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.has-padding-horizontal-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.has-margin-6 {
  margin: 24px;
}

.has-margin-left-6 {
  margin-left: 24px;
}

.has-margin-right-6 {
  margin-right: 24px;
}

.has-margin-top-6 {
  margin-top: 24px;
}

.has-margin-bottom-6 {
  margin-bottom: 24px;
}

.has-margin-vertical-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.has-margin-horizontal-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.has-padding-7 {
  padding: 28px;
}

.has-padding-left-7 {
  padding-left: 28px;
}

.has-padding-right-7 {
  padding-right: 28px;
}

.has-padding-top-7 {
  padding-top: 28px;
}

.has-padding-bottom-7 {
  padding-bottom: 28px;
}

.has-padding-vertical-7 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.has-padding-horizontal-7 {
  padding-left: 28px;
  padding-right: 28px;
}

.has-margin-7 {
  margin: 28px;
}

.has-margin-left-7 {
  margin-left: 28px;
}

.has-margin-right-7 {
  margin-right: 28px;
}

.has-margin-top-7 {
  margin-top: 28px;
}

.has-margin-bottom-7 {
  margin-bottom: 28px;
}

.has-margin-vertical-7 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.has-margin-horizontal-7 {
  margin-left: 28px;
  margin-right: 28px;
}

.has-padding-8 {
  padding: 32px;
}

.has-padding-left-8 {
  padding-left: 32px;
}

.has-padding-right-8 {
  padding-right: 32px;
}

.has-padding-top-8 {
  padding-top: 32px;
}

.has-padding-bottom-8 {
  padding-bottom: 32px;
}

.has-padding-vertical-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.has-padding-horizontal-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.has-margin-8 {
  margin: 32px;
}

.has-margin-left-8 {
  margin-left: 32px;
}

.has-margin-right-8 {
  margin-right: 32px;
}

.has-margin-top-8 {
  margin-top: 32px;
}

.has-margin-bottom-8 {
  margin-bottom: 32px;
}

.has-margin-vertical-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.has-margin-horizontal-8 {
  margin-left: 32px;
  margin-right: 32px;
}

.header {
  width: 100%;
  height: 74px;
  box-sizing: border-box;
  color: #39414d;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  align-items: center;
  padding: 24px 4px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.header-logo {
  width: 100%;
  padding: 0 12px;
}

.logo {
  text-align: left;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.cards {
  padding-top: 12px;
  padding-left: 18px;
  padding-right: 18px;
}

.card {
  background-image: linear-gradient(275deg, #dae3f3, #f7f9fd);
  border-radius: 8px;
  padding: 8px 12px 8px 0;
  display: block;
  position: relative;
  box-shadow: 0 0 12px #00000080;
}

.card-img {
  width: 100%;
  height: 0;
  border-radius: 8px;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}

.card-img > img {
  width: 100%;
  position: absolute;
  top: 0;
}

.card-title {
  width: 100%;
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  background-image: linear-gradient(#0000, #000);
  padding: 12px;
  font-size: 16px;
  line-height: 18px;
}

.card-reference {
  margin-bottom: 8px;
}

.card-reference > img {
  max-height: 20px;
}

.card + .card {
  margin-top: 18px;
}

.card.is-large {
  height: 240px;
  background-color: #67768d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  align-items: flex-end;
  padding: 0;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 12px #0006;
}

.card.is-large .card-title {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
}

.card.is-small {
  display: flex;
}

.card.is-small .card-row {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.card.is-small .card-row + .card-row {
  margin-left: 8px;
}

.card.is-small .card-img {
  width: 120px;
  height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  box-shadow: 0 2px 8px #0000004d;
  border-radius: 0 4px 4px 0 !important;
}

.card.is-small .card-img-placeholder {
  width: 120px;
  height: 120px;
  background-image: linear-gradient(57deg, #4b5564, #0f2943);
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.card.is-small .card-img-placeholder:after {
  content: "NEWS";
  color: #f7f9fd;
  font-size: 32px;
}

.card.is-small .card-reference {
  margin-bottom: 2px;
}

.card.is-small .card-reference > img {
  height: auto;
  max-height: 14px;
}

.page {
  padding-top: 74px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.setting-group {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #fff3;
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 1px 0 1px #67768d;
}

.setting-userinfo {
  height: 163px;
  text-align: center;
  padding: 16px 32px;
}

.setting-avatar > img {
  border-radius: 50%;
  overflow: hidden;
}

.setting-item {
  color: #dae3f3;
  align-items: center;
  padding: 18px 18px 18px 32px;
  font-size: 14px;
  display: flex;
  position: relative;
}

.setting-item ion-icon {
  margin-right: 12px;
  font-size: 18px;
}

.setting-item:after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #c5d2e7;
  border-bottom: 1px solid #0000;
  border-left: 1px solid #0000;
  border-right: 2px solid #c5d2e7;
  margin-top: -3px;
  display: block;
  position: absolute;
  top: 50%;
  right: 26px;
  transform: rotate(45deg);
}

.setting-google-btn-container {
  height: 56px;
  align-items: center;
  padding: 8px 28px;
  display: flex;
}

.search {
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
}

.search-row + .search-row {
  margin-top: 40px;
}

.search-item {
  color: #dae3f3;
  padding: 6px 0 12px 12px;
  font-size: 14px;
  font-weight: 400;
}

.search-title {
  color: #c5d2e7;
  margin-bottom: 18px;
  padding: 0 4px;
  font-size: 12px;
}

.search-input {
  border: 2px solid #c5d2e7;
  border-radius: 8px;
  padding: 2px;
  display: flex;
  box-shadow: 0 0 12px #0000001a;
}

.search-input > input {
  color: #4b5564;
  background-color: #c5d2e7;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  outline: none;
  flex: 1;
  padding: 4px 12px;
  font-size: 16px;
}

.search-input > ion-icon {
  color: #45dabe;
  padding: 8px;
  font-size: 24px;
}

.search-suggestions {
  margin-left: -18px;
  margin-right: -18px;
  padding-top: 12px;
}

.search-suggestion {
  color: #dae3f3;
  border-bottom: 1px solid #c5d2e7;
  padding: 18px 26px;
  position: relative;
}

.search-suggestion:after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #c5d2e7;
  border-bottom: 1px solid #0000;
  border-left: 1px solid #0000;
  border-right: 2px solid #c5d2e7;
  margin-top: -3px;
  display: block;
  position: absolute;
  top: 50%;
  right: 26px;
  transform: rotate(45deg);
}

.search-results {
  max-height: calc(100vh - 320px);
  padding: 18px 0;
  overflow: auto;
}

.search-result {
  background-color: #fff;
  border: 1px solid #c5d2e7;
  border-radius: 8px;
  padding: 12px 8px;
}

.search-result-url {
  color: #4b5564;
  font-size: 10px;
}

.search-result-title {
  color: #326089;
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.search-result-description {
  color: #67768d;
  font-size: 11px;
}

.search-result-description b {
  color: #000;
}

.search-result + .search-result {
  margin-top: 12px;
}

.search .ryan-petersen {
  width: 120%;
  z-index: 999;
  transition: top .5s ease-in-out;
  position: fixed;
  top: 120vh;
  left: 0;
}

.search .ryan-petersen.show {
  top: calc(100% - 420px);
}

.indices {
  height: 100vh;
  box-sizing: border-box;
  background-image: radial-gradient(#326089, #0f2943);
  padding: 94px 18px 0;
}

.indices-actions {
  align-items: center;
  padding: 8px 0;
  display: flex;
}

.indices-actions input, .indices-actions select {
  width: 100%;
  min-width: 120px;
  height: 35px;
  text-align: center;
  padding: 0 4px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.indices-action {
  flex: 1;
}

.indices-action + .indices-action {
  margin-left: 12px;
}

.indices-action.is-expand {
  max-width: 45px;
  height: 35px;
  background-color: #fff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 35px;
  display: flex;
}

.indices-header {
  text-align: center;
  color: #fff;
  padding: 24px;
  font-size: 20px;
  font-weight: 300;
}

.indices-table {
  height: auto;
  max-height: calc(100vh - 285px);
  margin-top: 12px;
  margin-left: -18px;
  margin-right: -18px;
  font-size: 10px;
  overflow: auto;
}

.indices-table.is-full-screen {
  max-height: calc(100vh - 109px);
}

.indices-footer {
  color: #67768d;
  text-align: center;
  padding: 32px 24px;
  font-size: 10px;
}

.indices-list {
  padding: 32px 18px 0;
}

.indices-list-item {
  color: #4b5564;
  background-color: #fff;
  border-radius: 8px;
  align-items: center;
  padding: 22px 12px;
  display: flex;
  position: relative;
  box-shadow: 4px 4px 12px #0003;
}

.indices-list-item-icon {
  color: #326089;
  font-size: 20px;
  position: absolute;
  right: 18px;
}

.indices-list-item + .indices-list-item {
  margin-top: 24px;
}

.indicator {
  height: 100vh;
  box-sizing: border-box;
  background-color: #f7f9fd;
  padding: 94px 18px 0;
}

.indicator-chart {
  background-color: #f7f9fd;
  margin-left: -18px;
  margin-right: -18px;
  padding: 0 18px;
}

.indicator-tabs {
  justify-content: space-between;
  margin-bottom: 36px;
  display: flex;
}

.indicator-tab {
  width: calc(50% - 8px);
  box-sizing: border-box;
  background-color: #f7f9fd;
  border: 2px solid #c5d2e7;
  border-radius: 8px;
  padding: 12px;
}

.indicator-tab.is-active {
  background-color: #11b08f;
  border-color: #008062;
}

.indicator-tab.is-active .one {
  color: #fff;
  font-size: 20px;
}

.indicator-tab.is-active .two {
  color: #dae3f3;
  font-size: 10px;
}

.indicator-tab .one {
  color: #4b5564;
  font-size: 20px;
}

.indicator-tab .two {
  color: #c5d2e7;
  font-size: 10px;
}

.table {
  min-width: 100vw;
}

.table, .table td, .table th {
  border-collapse: collapse;
  font-size: 10px;
}

.table th, .table td {
  background-color: #fff;
  padding-left: 4px;
  padding-right: 4px;
}

.table th:first-of-type, .table td:first-of-type {
  color: #326089;
  max-width: 125px;
  white-space: pre-wrap;
  font-weight: 600;
  position: sticky;
  left: 0;
}

.table th.is-sticky-row, .table td.is-sticky-row {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.table th.is-sticky-col, .table td.is-sticky-col {
  color: #fff;
  background-color: #67768d;
  border-right: 1px solid #fff;
  position: sticky;
  left: 0;
}

.table th {
  text-align: left;
  padding: 12px;
  color: #fff !important;
  background-color: #0f2943 !important;
}

.table td {
  width: fit-content;
  color: #4b5564;
  white-space: nowrap;
  padding: 8px;
  display: table-cell;
}

.table tr:nth-of-type(2n+1) td {
  background-color: #f5fcff;
}

.article {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 94px 18px 80px;
  font-family: Times New Roman, Times, serif;
  position: relative;
  overflow-x: hidden;
}

.article .upcoming_events, .article .kt-block-spacer, .article .brt-cove-video-holder, .article .sk-app-container {
  display: none;
}

.article a {
  color: #031aba;
}

.article h1, .article h2, .article h3 p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.article-actions {
  width: 100%;
  height: 74px;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  padding: 0 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
}

.article-actions ion-icon {
  font-size: 1.5rem;
  font-weight: 300;
}

.article-thumbnail {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -18px;
  margin-right: -18px;
}

.article-reference img {
  margin-bottom: 25px;
  max-height: 20px !important;
}

.article-title {
  color: #000;
  margin: 24px 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
}

.article-label {
  color: #67768d;
  font-size: 12px;
}

.article-content {
  color: #67768d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.article-content img:not(.article-reference) {
  max-height: 800px !important;
}

.article-content a[rel="tag"] {
  color: #4b5564;
  background-color: #c5d2e7;
  border-radius: 12px;
  margin-bottom: 8px;
  padding: 2px 6px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.article-content .post-bottom-meta-title {
  margin: 8px 0;
}

.article-content ul {
  padding-inline-start: 0 !important;
}

.article-content ul li {
  list-style-type: none;
}

.article-content figure {
  margin-left: 0;
  margin-right: 0;
}

.article-content figure video, .article-content figure img {
  max-width: 350px;
  height: auto;
  width: 100% !important;
}

.article .iframe-container {
  height: calc(100vh - 75px);
  border-top: 1px solid #4b5564;
  margin: -19px -18px -80px;
}

.article .iframe-container iframe {
  height: 100%;
  border: none;
}

.widge {
  color: #dae3f3;
  white-space: nowrap;
  border: 1px solid #dae3f3;
  border-radius: 16px;
  padding: 6px 8px;
  font-size: 12px;
}

.widge + .widge {
  margin-left: 10px;
}

.widge.is-selected {
  color: #fff;
  background-color: #11b08f;
}

.widges {
  width: 100%;
  max-width: 1200px;
  flex-wrap: nowrap;
  display: flex;
  overflow-x: auto;
}

.widges::-webkit-scrollbar {
  display: none;
}

.seed-boxes {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.seed-box {
  height: 80px;
  width: 48%;
  box-sizing: border-box;
  background-color: #fff3;
  border-radius: 8px;
  padding: 12px;
}

.seed-top {
  max-height: 240px;
  width: 100%;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  display: flex;
  overflow: auto;
}

.seed-top::-webkit-scrollbar {
  display: none;
}

.seed-top > .card {
  width: 280px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 36px;
  margin-top: 0 !important;
}

.seed-top > .card:last-of-type {
  margin-right: 0 !important;
}

.bookmarks {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  box-sizing: border-box;
  background-image: linear-gradient(0deg, #326089, #0f2943);
  padding: 75px 0 80px;
  position: relative;
  overflow-x: hidden;
}

.bookmarks .bookmark {
  box-sizing: border-box;
  background-color: #f7f9fd;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  grid-template-columns: 120px 1fr;
  margin-left: 14px;
  padding: 12px;
  display: grid;
}

.bookmarks .bookmark-img {
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.bookmarks .bookmark-img-placeholder {
  width: 120px;
  height: 120px;
  background-image: linear-gradient(134deg, #326089, #4b5564);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bookmarks .bookmark-img-placeholder:after {
  content: "NEWS";
  color: #f7f9fd;
  font-size: 32px;
}

.bookmarks .bookmark-text {
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  display: flex;
}

.bookmarks .bookmark + .bookmark {
  margin-top: 14px;
}

.qr {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #326089, #0f2943);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.qr img {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 4px 4px 12px #0006;
}

.about {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  box-sizing: border-box;
  color: #fff;
  background-color: #fff;
  background-image: radial-gradient(#326089, #0f2943);
  padding: 94px 18px 80px;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
}

.about-title {
  margin-bottom: 32px;
  font-size: 32px;
}

.about-content {
  color: #c5d2e7;
  line-height: 22px;
}

.wave {
  width: 1600px;
  height: 198px;
  z-index: -1;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg") repeat-x;
  animation: wave 7s cubic-bezier(.36, .45, .63, .53) infinite;
  position: absolute;
  top: 198px;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  opacity: 1;
  animation: wave 7s cubic-bezier(.36, .45, .63, .53) -.125s infinite, swell 7s -1.25s infinite;
  top: 175px;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, #326089, #0f2943);
  overflow: auto;
}

hr {
  border: none;
  border-top: 1px solid #67768d;
  margin: 20px -18px;
}

