@import "variables";

.cards {
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

.card {
    display: block;
    border-radius: 8px;

    &-img {
        position: relative;
        width: 100%;
        height: 0px;
        padding-top: 50%;
        overflow: hidden;
        border-radius: 8px;

        & > img {
            position: absolute;
            top: 0px;
            width: 100%;
        }
    }

    &-title {
        font-size: 14px;
        color: black;
        line-height: 18px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
    }

    & + .card {
        margin-top: 28px;
    }
}