@import "variables";

.cards {
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

.card {
    display: block;
    border-radius: 8px;
    position: relative;
    padding: 8px 12px 8px 0px;
    background-image: linear-gradient(275deg, $grey20, $grey10);
    box-shadow: 0px 0px 12px rgba(black, 0.5);

    &-img {
        position: relative;
        width: 100%;
        height: 0px;
        padding-top: 60%;
        overflow: hidden;
        border-radius: 8px;

        & > img {
            position: absolute;
            top: 0px;
            width: 100%;
        }
    }

    &-title {
        width: 100%;
        font-size: 16px;
        line-height: 18px;
        padding: 12px;
        color: white;
        background-image: linear-gradient(180deg, transparent, black);
        backdrop-filter: blur(5px);
        box-sizing: border-box;
    }

    &-reference {
        margin-bottom: 8px;
        
        & > img {
            max-height: 20px;
        }
    }

    & + .card {
        margin-top: 18px;
    }
}

.card {
    $card: ".card";
    &.is-large {
        height: 240px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        padding: 0px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 12px rgba(black, 0.4);
        background-color: $grey40;

        #{$card}-title {
            font-size: 26px;
            line-height: 28px;
            font-weight: 500;
            color: white;
        }
    }
}

.card {
    $card: ".card";
    &.is-small {
        display: flex;

        #{$card}-row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & + .card-row {
                margin-left: 8px;
            }
        }
    
        #{$card}-img {
            width: 120px;
            height: 0px;
            padding-top: 120px;
            border-radius: 0px !important;
            border-top-right-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
            box-shadow: 0px 2px 8px rgba(black, 0.3);

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        #{$card}-img-placeholder {
            width: 120px;
            height: 120px;
            background-image: linear-gradient(57deg, $grey50, $blue60);
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 4px !important;
            border-bottom-left-radius: 4px !important;

            &:after {
                content: "NEWS";
                font-size: 32px;
                color: $grey10;
            }
        }

        #{$card}-reference {
            margin-bottom: 2px;

            & > img {
                height: auto;
                max-height: 14px;
            }
        }
    }
}