.is {
    &-flex { display: flex; }
    &-vertical-center {
        display: flex;
        align-items: center;
    }
    &-horizontal-center {
        display: flex;
        justify-content: center;
    }
    &-all-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-full-screen {
        width: 100vw;
        height: 100vh;
    }
    &-level {
        display: flex;
        align-items: center;
        &-left {
            justify-self: flex-start;
            margin-right: auto;
        }
        &-right {
            justify-self: flex-end;
            margin-left: auto;
        }
    }

    &-svg {
        max-height: 20px;
    }
}

.is {
    &-text {
        &-xs { font-size: 10px; }
        &-s { font-size: 12px; }
        &-m { font-size: 16px; }
        &-l { font-size: 20px; }
        &-xl { font-size: 28px; }
        &-xxl { font-size: 38px; }

        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
        &-center {
            text-align: center;
        }

        &-bold {
            font-weight: 600;
        }

        &-bolder {
            font-weight: 700;
        }
    }
}

.has {
    $space-unit: 4px;
    @for $i from 1 through 8 {
        $space: $i * $space-unit;

        &-padding-#{$i} { padding: $space; }
        &-padding-left-#{$i} { padding-left: $space; }
        &-padding-right-#{$i} { padding-right: $space; }
        &-padding-top-#{$i} { padding-top: $space; }
        &-padding-bottom-#{$i} { padding-bottom: $space; }
        &-padding-vertical-#{$i} { padding-top: $space; padding-bottom: $space;  }
        &-padding-horizontal-#{$i} { padding-left: $space; padding-right: $space; }

        &-margin-#{$i} { margin: $space; }
        &-margin-left-#{$i} { margin-left: $space; }
        &-margin-right-#{$i} { margin-right: $space; }
        &-margin-top-#{$i} { margin-top: $space; }
        &-margin-bottom-#{$i} { margin-bottom: $space; }
        &-margin-vertical-#{$i} { margin-top: $space; margin-bottom: $space;  }
        &-margin-horizontal-#{$i} { margin-left: $space; margin-right: $space; }
    }
}