@import "variables";

.search {
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;

    &-row {
        & + .search-row {
            margin-top: 40px;
        }
    }

    &-item {
        padding: 6px 0px 12px 12px;
        font-size: 14px;
        font-weight: 400;
        color: $grey50;
    }

    &-title {
        font-size: 12px;
        color: $grey40;
        padding: 0px 4px;
        margin-bottom: 18px;
    }

    &-input {
        display: flex;
        border-radius: 8px;
        box-shadow: 0px 0px 12px rgba(black, 0.1);
        border: 1px solid $grey30;
        padding: 2px;
        
        & > input {
            flex: 1;
            border: 0px;
            outline: none;
            padding: 4px 12px;
            font-size: 16px;
            color: $grey50;
        }

        & > ion-icon {
            font-size: 24px;
            padding: 8px;
            color: $grey40;
        }
    }
}