@import "variables";

.seed {
    &-boxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-box {
        height: 80px;
        width: 48%;
        border-radius: 8px;
        background-color: rgba(white, 0.2);
        padding: 12px;
        box-sizing: border-box;
    }
}