@import "variables";

.table {
    min-width: 100vw;

    &,
    td,
    th {
        border-collapse: collapse;
        font-size: 10px;
    }

    th, td {
        $padding: 4px;
        padding-left: $padding;
        padding-right: $padding;
        background-color: white;

        &:first-of-type {
            position: sticky;
            left: 0;
            color: $blue50;
            max-width: 125px;
            white-space: pre-wrap;
            font-weight: 600;
        }
        
        &.is-sticky-row {
            position: sticky;
            top: 0;
            background-color: white;
        }

        &.is-sticky-col {
            position: sticky;
            left: 0;
            background-color: $grey40;
            color: white;
            border-right: 1px solid white;

        }
    }

    th {
        $padding: 12px;

        padding: $padding;
        text-align: left;
        background-color: $grey50 !important;
        color: white !important;
    }

    td {
        $padding: 8px;

        display: table-cell;
        width: fit-content;
        padding: $padding;
        color: $grey50;
        white-space: nowrap;
    }

    tr:nth-of-type(odd) {
        td {
            background-color: $grey20;
        }
    }
}